.BGIMG {
    background-image: url("../Slike/OdzadjeKorona.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.5%;
}