.glavnoText {

        font-size: xx-large;
        
      
}

body {

    background-color: #e3e0cf

}

.textd {
    font-size: xx-large;
    color: whitesmoke;
}

.glavni {
    font-size: x-large;
}

.naslov {
    font-size: 40px;
}

